<h3>New Address</h3>

<form class="form-group" action="/addresses" method="post">

  <label for="line_1">Line 1:</label>
  <input class="form-control" id="line_1" type="text" name="line_1" placeholder="Line 1" value=""></br>

  <label for="line_2">Line 2:</label>
  <input class="form-control" id="line_2" type="text" name="line_2" placeholder="Line 2" value=""></br>

  <label for="city">City:</label>
  <input class="form-control" id="city" type="text" name="city" placeholder="City" value=""></br>

  <label for="zip">Zip:</label>
  <input class="form-control" id="zip" type="text" name="zip" placeholder="Zip" value=""></br>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
