<nav class="navbar navbar-inverse">
  <a href="/contacts"><button type="button" name="button">All Contacts</button></a>

  <a href="/contacts/new"><button type="button" name="button">New Contact</button></a>

  <a href="/addresses"><button type="button" name="button">All Addresses</button></a>

  <a href="#"><button type="button" name="button">New Address</button></a>

</nav>
