  <label for="first_name">First Name:</label>
  <input class="form-control" id="first_name" type="text" name="first_name" placeholder="First Name" value=""></br>

  <label for="last_name">Last Name:</label>
  <input class="form-control" id="last_name" type="text" name="last_name" placeholder="Last Name" value=""></br>

  <label for="phone_number">Phone Number:</label>
  <input class="form-control" id="phone_number" type="text" name="phone_number" placeholder="Phone Number" value=""></br>

  <label for="email_address">Email:</label>
  <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Email" value=""></br>

  <label for="img_url">Image URL:</label>
  <input class="form-control" id="img_url" type="text" name="img_url" placeholder="" value="http://fillmurray.com/200/300"></br>

  <select class="custom-select" name="address_id">
    <option selected>Address</option>
    {{#each address}}
    <option name="address_id" value="{{address_id}}">{{line_1}}, {{line_2}}, {{city}}</option>
    {{/each}}
  </select> </br></br>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
